/****** Main ********/
body {
	font-family: 'Georgia';
    background-color: #222222;
    color: #FFFFFF;
    font-style: normal;
    font-weight: 400;
    margin: 0;
	padding: 0;
}

.vertical-center {
	text-align:center;
	/* width:100%; */
	/* position: absolute; */
}

.inner {
	height:100%;
	margin:0 auto;
	display: flex;
  	flex-direction: column;
  	align-items: center;
	justify-content: space-between;	
}

@media (max-width: 767){
	
h1 {
	font-size: calc(100px + (20 + 20*0.7) * ((100vw - 320px) / 1000));
}
}

/* Первая страница */
.leader{
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;	
	align-items: center;
}

.page-1 img.logo{
	margin-top: 10px;
}

h1 {
	display: inline-block;
	font-weight: 400;
	/* font-size: 120px; */
	font-size: calc(80px + 40 * (100vw / 1080));
	/* line-height: 136px; Ни на что не влияют */
	/* line-height: 1.134em; */
	text-transform: uppercase;
	text-align: left;
	margin: 0;
	text-transform: uppercase;
}

div.vertical-center span{
	padding: 0px;
    margin: 0px;
    font-size: 36px;
    line-height: 41px;
}
/* .scroll{
	position:absolute;
	bottom: 5px;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	text-align: center;
} */

.scroll{
	display: flex;
	flex-direction: column;
	justify-content: center;	
	align-items: center;

}

p.scroll-items {
	margin: 0;
	font-size: 20px;
	line-height: 23px;	
	
}

.scroll .circle{
	width: 10px; 
	height: 10px;
	background: #FFFFFF;
	border-radius: 50%;
	position: relative;
	top: 10px;
}
.scroll .line{
	position: relative;

	width: 2px; 
	height: calc((100vh - 650px) / 4);
	background: #FFFFFF;
}

/* Вторая страница */
.page-2{
	display: flex;
  	align-items: center;
  	justify-content: center;
}

.description{
	width: 900px;
}

.description p{
	margin: 0;
	text-align: left;
	font-size: calc(17px + 3 * (100vw / 1080));
	/* line-height: 23px; */
	line-height: 1.15em;
	padding: 10px;
}

.description div.center{
	display: grid;
	justify-content: center;
	margin: 10px;
}

div.center .line{
	height: calc((100vh - 600px) / 6);
}

.page-2 .circle{
	width: 10px; 
	height: 10px;
	background: #FFFFFF;
	border-radius: 50%;
	position: relative;
}
.page-2 .line{
	position: relative;
	left: 4px;
	width: 2px; 
	height: calc((100vh - (490px + (100vh - 600px) / 6)) / 5 * 2);
	background: #FFFFFF;
}

.down .circle{
	top: 10px;
}
.down .line{
	margin-bottom: 10px;
}


/* Шапка сайта */

header{
	/* height: 100px; */
	position:absolute;
	z-index: 1001;
	width: 100%;
	margin: 0;
	padding: 10px 0;
	background: rgba(255, 255, 255, 0.05);
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
	/* order: -1; */
}
.navigation-list{
	display: flex;
	justify-content: space-between;
	margin: 0;
	padding: 0;
	width: 60%;
	margin-left: auto;
	margin-right: auto;

} 
.navigation-list-item{

	margin-top: auto;
	margin-bottom: auto; 
	font-size: 16px;
	/* line-height: 18px; */
	line-height: 1.125em;
	list-style-type: none;
}
.navigation-list a{
	color:inherit;
	text-decoration: none;
}

.language{
	display: flex;
	position: absolute;
	top: 37%;
	right: 5%;
	gap: 10px;
}
.language li{
	list-style-type: none;
	font-size: 20px;
	/* line-height: 23px; */
	line-height: 1.15em;
}
button{
	display: flex;
	background-color:rgba(255, 255, 255, 0.0);
	border:0px;
	color: #FFFFFF;
	padding:5px;
	gap: 5px;
}

/* Событие */
.event_num{
	position: absolute; 
	padding: 5px;
	top: 0; 
	left: 0; 
	font-size: 20px;
}
.container{
	position: relative;
}
.event{
	display: none;
	position: absolute;
	top: 12vh;
	left: 75vw;
	width: 350px;
	z-index: 1010;
	height: 200px;
	background-image: url("../image/BGForEvent.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
	
}
.button-event{
	cursor: pointer;
	width: 350px;
	height: 150px;
 	display: grid;
	margin: 0 auto;
	color: #000000;
	justify-items: center;
	
}
.event h2{
	font-weight: 400;
	font-size: 12px;
	line-height: 14px;
	margin: 0;
	margin-top: 20px;
	padding: 0;
	
}
.event p{
	font-weight: 400;
	font-size: 22px;
	line-height: 25px;
	padding: 0;
	margin: 0;
}

.event .square{
	width: 70px;
	font-weight: 400;
	font-size: 12px;
	line-height: 14px;
	border: 1px solid #777777;
	position: absolute;
	bottom: 10px;
}

/* PopUp */

.popup{
	display: none;
	position:absolute;
    width:80%;
    height:80%;
	top:5vh;
	left: 10vw;
	z-index: 1010;

    background-color: rgba(255, 255, 255, 0.90);
	border-radius:15px;
    box-shadow: 0px 0px 100px #000;
	color: #000;
}

.button-exit{
	display: block;
	color: #111111;
	padding: 10px;
	margin-left: auto;
	margin-right: 10px;
	font-weight: 400;
	font-size: 32px;
	line-height: 36px;
	cursor: pointer;
}

.popup .flex{	
	display: flex;
	height: 90%;
}

.popup .flex .photo-letter{
	display: flex;
	margin:0 auto;
	padding: 0;
	min-height: 20%;
	max-height: 100%;

}

.photo-letter{
	height: 70%;
}

/* .p-photo-letter{
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 16px;
	padding: 10px 20px;
	border: 1px solid #000000;
	width: 250px;
	margin: 0 auto;;
} */

.popup-right, .popup-left{
	width:50%;
	padding-bottom: 10px;
}

.popup-left{
	display: flex;
	flex-direction:column;
	justify-content: space-between;
}

.popup h3{
	margin: 0;
	font-weight: 400;
	font-size: 52px;
	line-height: 62px;	
	text-align: center;
}

.popup-right p{
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 45px;
	text-align: center;
}

/* Подвал сайта */
	
.main-footer{
	position:absolute;
	bottom: 20px;
	z-index: 1001;
}
.main-footer p{
	font-size: 10px;
	line-height: 11px;
	letter-spacing: 0.25em;
}

/* Стрелки навигации */
.move-arrows .right,.move-arrows .left{
	cursor: pointer;
	position: absolute;
	/* top: 292vh; */ 
	
	bottom: 33px;
	padding: 5px 15px;
}
.move-arrows .right{
	left: 95vw;
	transform: rotate(180deg);
}
.move-arrows .left{
	left: 5vw;
}

/* Карта */

.mapael .map {
	background-color: #cddee0;
	margin-bottom: 10px;
	position: relative;
}

/* For all zoom buttons */
.mapael .zoomButton {
	background-color: #fff;
	border: 1px solid #ccc;
	color: #000;
	width: 15px;
	height: 15px;
	line-height: 15px;
	text-align: center;
	border-radius: 3px;
	cursor: pointer;
	position: absolute;
	top: 0;
	font-weight: bold;
	left: 20px;
	-webkit-user-select: none;
	-khtml-user-select : none;
	-moz-user-select: none;
	-o-user-select : none;
	user-select: none;
}

/* Reset Zoom button first */
.mapael .zoomReset {
	top: 85px;
}

/* Then Zoom In button */
.mapael .zoomIn {
	top: 105px;
}

/* Then Zoom Out button */
.mapael .zoomOut {
	top: 125px;
}

.mapael .mapTooltip {
	position: absolute;
	background-color: #474c4b;
	opacity: 0.70;
	filter: alpha(opacity=70);
	border-radius: 10px;
	padding: 10px;
	z-index: 1000;
	max-width: 200px;
	display: none;
	color: #fff;
}
.mapcontainer {
	max-width: 100vw;
	max-height: 100vh;
	margin: 0;
	text-align:center;
}

.mapael .map {
    background-color: #222222;
}
/* Слайдер */
.slidecontainer {
    width: 83%; /* Width of the outside container */
	align-self: center;

}

.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
	margin: auto;
    width: 86%;
    height: 5px; /* Specified height */
	border-radius: 5px;
    background: #ffffff;
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
	z-index: 1008;
	position: absolute; 
	bottom: 60px;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: #ffffff;
    cursor: pointer;
	z-index: 1080;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #ffffff;
    cursor: pointer;
	z-index: 1080;
}

