body {
	font-family: 'Georgia';
    background-color: #222222;
    color: #FFFFFF;
    font-style: normal;
    font-weight: 400;
    margin: 0;
	padding: 0;

    text-align:center;
}

.image-background{
    background-image: url("../image/Back.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain
}

/* Шапка сайта */
header{
    position: fixed;
	height: 100px;
	width: 100%;
    top:0;
	margin: 0;  
	z-index: 1000;
	background: rgba(22, 22, 22, 0.7);
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.navigation-list{
	display: flex;
    height: 100px;
	justify-content: center;
    align-items:center;
	margin: 0;
	padding: 0;
	width: 60%;
	margin-left: auto;
	margin-right: auto;

} 
.navigation-list-item{
	margin: auto 6rem;
	font-size: 16px;
	/* line-height: 18px; */
	line-height: 1.125em;
	list-style-type: none;
}
.navigation-list a{
	color:inherit;
	text-decoration: none;
}

.button-animation{
    position: relative;
	display: block;
}

.button-animation::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: -5%;
	width: 110%;
	height: 0.1em;
	background-color: white;
	transition: opacity 300ms, transform 300ms;
	opacity: 1;
  	transform: scale(0);
  	transform-origin: center;
  }
  
.button-animation:hover::after,
.button-animation:focus::after {
	transform: scale(1);
}

.logo-items-a{
    display: grid;
    position: relative;
    right: 15px;
    justify-items: center;
    gap: 5px;
}

.logo-items-a-FR{
    right: 30px;
}

/* Основное содержание */
h1 {
    font-size: 96px;
    line-height: 109px;
    font-weight: 400;
    margin: 0;
    margin-top: 100px;
    margin-bottom: 10px;
} 
/* Описание жизни */
.decoration{
    position: relative;
    top:15px
}
.short-story-list{
    display: grid;
    width: 1190px;
    padding: 0;
    padding-top: 45px;
    margin: 0 auto;
    margin-bottom: 40px;
    gap: 40px;
}

.short-story-list-items{
    text-align: left;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
}

/* Малое генеалогическое древо Карла IX Валуа */
h2{
    margin: 0;
    font-weight: 400;
    font-size: 48px;
    line-height: 55px;
    margin-bottom: 40px;
}
.designations-list .line{
    vertical-align: middle;
    margin-right: 20px;
}
.designations-list{
    display: inline-block;
    padding: 0;
    list-style: none;
    margin: 0;
    margin-bottom: 25px;
}
.designations-list-items{

    font-size: 20px;
    line-height: 23px;
    font-weight: 400;
    margin-bottom: 10px;
    text-align: left;
}
.tree{
    padding: 0;
    margin: 0;
    margin-bottom: 100px;
}
/* Возвращение на главную страницу */
.back{
    display: flex;
    font-size: 14px;
    line-height: 16px;
    justify-content: center;
    align-items:center;
    margin: 0;
    margin-top: 50px;
    margin-bottom: 45px;
    gap: 20px;
}
.back a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 32px;
    line-height: 36px;
    padding: 10px 40px;
    border: 1px solid #FFFFFF;
    transition: all 500ms ease;
}

.back a:hover {
	background: #FFFFFF;
	color: #222222;
}
/* Подвал */
footer{
    font-size: 10px;
	line-height: 11px;
	letter-spacing: 0.25em;
}

/* Запрет выделения */
.no-select{
	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD

<<<<<<< HEAD
=======

>>>>>>> 9f1a0dc (Добавил проект + кнопки смены языков на страницах)
=======

>>>>>>> b6f8e3cf5168c3d62a175caf10f626615b56091b
.language{
	display: flex;
	position: absolute;
	top: 37%;
	right: 5%;
	gap: 10px;
	z-index: 1100;
}
.language li{
	list-style-type: none;
	font-size: 20px;
	/* line-height: 23px; */
	line-height: 1.15em;
}
.language  a{
	display: flex;
	text-decoration: none;
	background-color:rgba(255, 255, 255, 0.0);
	border:0px;
	color: #FFFFFF;
	padding:5px;
	gap: 5px;
<<<<<<< HEAD
<<<<<<< HEAD
=======
/* Попап событие */
.popup-event{
	display: none;
	width: 100%;
	height: 100%;
	z-index: 1010;
	background-color:#111111;
	position:absolute;
}
.popup-event-button-exit{
	display: block;
	color: #FFFFFF;
	padding: 10px;
	margin: 0 auto;
	margin-top: 5px;
	font-weight: 400;
	font-size: 32px;
	line-height: 36px;
	cursor: pointer;
	padding: 0px 25px;
	border:solid 1px #FFFFFF;
}
.popup-event-div{
	width: 80%;
	height: 80%;
	margin: 0 auto;
}
.popup-event-header{
	display: flex;
	justify-content: space-around;
	align-items: center;

}
.popup-event-listEvent{
	display: flex;
	position: relative;
	gap: 20px;
	margin: 0;
	padding: 0;
}

.popup-event-listEvent li{
	list-style-type: none;
}

.popup-event-listEvent li:nth-child(2n){
	list-style-type: none;
	position: relative;
	top:17px;
	/* width: 100px; 
	height: 100px;
	background: #83A7C9;
	border-radius: 50%; */
}
.popup-event-listEvent li:nth-child(2n) button{
	width: 15px; 
	height: 15px;
	position: relative;
	left: 10px;
	bottom: 32px;
	background: #ffffff;
	border-radius: 50%; 
	cursor: pointer;
}


.popup-event-listEvent li:nth-child(2n+1){
	list-style-type: none;
	position: relative;
	top:-15px
}

.popup-event-listEvent li:nth-child(2n+1) button{
	width: 15px; 
	height: 15px;
	position: relative;
	left: 12px;
	bottom: 0px;
	background: #ffffff;
	border-radius: 50%; 
	cursor: pointer;
}

.popup-event-listEvent .line{
	width: 100%;
	position: absolute;
	top:10px;
	border-bottom: solid 3px #ffffff;
}

.popup-event-main{
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.popup-event-main img{
    height: 70vh;
    flex-shrink: 0;
}
.popup-event-main p{
	width: 50%;
	
}


.popup-event-footer{
	position:absolute;
	bottom: 20px;
	z-index: 1001;
	width: 100%;
}
.popup-event-footer-p{

	text-align: center;
	font-weight: 400;
	font-size: 12px;
	line-height: 14px;
	letter-spacing: 0.75em;
>>>>>>> 5c73734 (добавлены события)
}
=======
>>>>>>> cce793c (убраны события)
=======
=======
>>>>>>> b6f8e3cf5168c3d62a175caf10f626615b56091b
}

button{
	display: flex;
	background-color:rgba(255, 255, 255, 0.0);
	border:0px;
	color: #FFFFFF;
	padding:5px;
	gap: 5px;
}

.language-button{
	position: relative;
}

<<<<<<< HEAD
>>>>>>> 9f1a0dc (Добавил проект + кнопки смены языков на страницах)
=======
>>>>>>> b6f8e3cf5168c3d62a175caf10f626615b56091b
